<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head></head>

<body>

<div th:fragment="commentView (comment, author,parent)" class="card" th:data-commentId="${comment.commentId}">
    <!--/*@thymesVar id="comment" type="com.system559.blog.model.blog.Comment"*/-->
    <!--/*@thymesVar id="author" type="com.system559.blog.model.User"*/-->
    <div class="card-header d-inline w-100" th:id="'commentHeading' + ${comment.commentId}">
        <h2 class="mb-0 mr-auto">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    th:data-target="'#commentCollapse' + ${comment.commentId}">
                <span th:text="${comment.title}"></span>
            </button>
        </h2>
        <div class="ml-auto align-middle">
            <button type="button" th:if="${#httpServletRequest.remoteUser} == ${author.username}"
                    class="btn btn-danger btn-delete delete-item" data-item="comment" th:data-id="${comment.commentId}"><i
                    class="fa fa-trash"></i></button>
        </div>
    </div>
    <div th:id="'commentCollapse' + ${comment.commentId}" class="collapse show"
         th:data-parent="'#childCommentsContainer' + ${parent}">
        <div class="card-body" th:data-commentId="${comment.commentId}">
            <div class="small" th:text="${#temporals.format(comment.createdDateTime,'MMMM d, yyyy; hh:mm:ss z')}"></div>
            <div class="small"><a href="#" th:text="${author.username}"></a> says:</div>
            <div th:text="${comment.body}"></div>
            <div sec:authorize="isAuthenticated()" class="row">
                <div class="col">
                    <button class="btn btn-primary btn-sm reply-click" type="button"
                            th:id="'#replyTo'+ ${comment.commentId}"
                            th:data-commentId="${comment.commentId}" data-parent="comment">Reply
                    </button>
                </div>
            </div>
            <div sec:authorize="isAnonymous()" class="row">
                <div class="col">
                    <button class="btn btn-primary btn-sm login-to-comment" type="button" data-toggle="modal"
                            data-target="#loginModal">Login to comment
                    </button>
                </div>
            </div>
        </div>
        <div th:if="${comment.childComments.size > 0}" class="ml-2 accordion pb-2 pr-2"
             th:id="'childCommentsContainer' + ${comment.commentId}">
            <div th:each="commentRow : ${comment.childComments}" class="mb-2">
                <div th:replace="comment :: commentView(${commentRow},${commentRow.author},${comment.commentId})"></div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="commentForm" class="card p-2 mt-2">
    <form id="commentForm">
        <input type="hidden" id="parentType">
        <input type="hidden" id="parentComment">
        <input type="hidden" id="post">
        <div class="form-group w-100">
            <label for="commentTitle">Title:</label>
            <input type="text" class="form-control w-100" id="commentTitle" name="title">
        </div>
        <div class="form-group w-100">
            <label for="commentBody">Message:</label>
            <textarea class="form-control w-100" id="commentBody" name="body" rows="5"></textarea>
        </div>
        <div class="form-group w-100">
            <button type="button" id="commentSubmit">Submit</button>
            <button type="reset" id="commentReset">Reset</button>
        </div>
    </form>
</div>

</body>

</html>